/* 主容器样式 */
.main-container {
  padding: calc(24rpx + var(--status-bar-height)) 24rpx 2rpx;
}

/* type='primary' 按钮 */
uni-button[type='primary'] {
  color: #fff !important;
  background-color: $green !important;
}

/* 导航标签 */
uni-navigator {
  color: $green;
}

/* 当行文本溢出隐藏 */
.one-line-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 隐藏滚动条 */
.hidden-scroll-bar {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

/* 外边距 */
.mr24 {
  margin-right: 24rpx;
}
.mb10 {
  margin-bottom: 10rpx;
}
.mb24 {
  margin-bottom: 24rpx;
}
