@font-face {
  font-family: "iconfont"; /* Project id 3987918 */
  src: url('/static/iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangyuan:before {
  content: "\e610";
}

.icon-paizhao:before {
  content: "\e872";
}

.icon-tejiajipiaobiaoqian:before {
  content: "\e8cc";
}

.icon-jiazheng_huaban1fuben20:before {
  content: "\e616";
}

.icon-yuechi:before {
  content: "\e6b4";
}

.icon-apple-fill:before {
  content: "\e881";
}

