@font-face {
  font-family: "iconfont"; /* Project id 3987918 */
  src: url('static/iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-safety-center:before {
  content: "\e895";
}

.icon-order:before {
  content: "\e897";
}

.icon-valid-order:before {
  content: "\e899";
}

.icon-unpaid-order:before {
  content: "\e659";
}

.icon-help:before {
  content: "\e8ac";
}

.icon-folder:before {
  content: "\e631";
}

.icon-history:before {
  content: "\e7ce";
}

.icon-home:before {
  content: "\e600";
}

.icon-wish:before {
  content: "\e611";
}

.icon-mine:before {
  content: "\e8a0";
}

.icon-inbox:before {
  content: "\e64f";
}

.icon-house:before {
  content: "\e610";
}

.icon-photo:before {
  content: "\e872";
}

.icon-fund:before {
  content: "\e8cc";
}

.icon-cook:before {
  content: "\e616";
}

.icon-key:before {
  content: "\e6b4";
}

.icon-apple-fill:before {
  content: "\e881";
}

