@font-face {
  font-family: 'iconfont'; /* Project id 3987918 */
  src: url('/static/iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple-fill:before {
  content: '\e881';
}
